<?xml version="1.0" encoding="UTF-8"?>
<!--//**********************************************************************/
// Copyright (c) 2021 appleseed.
// All rights reserved.
// 
//**************************************************************************/
// DESCRIPTION: Contains the Dll Entry stuff
// AUTHOR: Omid Ghotbi (TAO) omid.ghotbi@gmail.com www.3dfine.com
//***************************************************************************/-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="FinishedDialogUI">

      <Dialog Id="FinishedDialog" Width="555" Height="416" NoMinimize="yes" Title="appleseed : Setup Finished">

        <Control Id="background" Type="Bitmap" Text="bgImage" Width="555" Height="416" X="0" Y="0" TabSkip="no" FixedSize="yes"/>

        <Control Id="finishedText"  Type="Text" X="230" Y="110" Width="300" Height="22" Transparent="yes" Text="{\TahomaHeader}Installation Finished Seccessfully" />
        <Control Id="finishedExplanationText" X="230" Y="150" Width="310" Height="100" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Text="{\TahomaNormal}Please close the setup application and restart 3dsmax, you will find the appleseed in renderer selection panel. For more information check AppleSeed website https://appleseedhq.net" />

        <Control Id="cancelButton" Type="PushButton" Text="[Close]" X="460" Y="380" Width="75" Height="18" Cancel="yes" FixedSize="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

    </UI>

    <InstallUISequence>
      <Show Dialog="FinishedDialog" OnExit="success" />
    </InstallUISequence>
  </Fragment>
</Wix>