<?xml version="1.0" encoding="UTF-8"?>
<!--//**********************************************************************/
// Copyright (c) 2021 appleseed.
// All rights reserved.
// 
//**************************************************************************/
// DESCRIPTION: Contains the Dll Entry stuff
// AUTHOR: Omid Ghotbi (TAO) omid.ghotbi@gmail.com www.3dfine.com
//***************************************************************************/-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="LicenseAgreeDialogUI">

      <DialogRef Id="VersionSelectDlg"/>
      
      <Property Id="IAGREE" Secure="yes" />
      <Property Id="License">Licensebtn</Property>
      <Binary Id="Licensebtn" SourceFile="Resources/btAgree.png"/>
      <Property Id="Back">backbtn</Property>
      <Binary Id="backbtn" SourceFile="Resources/btBack.png"/>

      <Dialog Id="LicenseAgreeDlg" Width="555" Height="416" Title="appleseed : License Agreement">

        <Control Id="background" Type="Bitmap" Text="bgImage" Width="555" Height="416" X="0" Y="0" TabSkip="no" FixedSize="yes" />

        <Control Id="explanationText" X="230" Y="100" Width="295" Height="100" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Text="{\TahomaNormal}Before you can install this plugin (appleseed) you must agree the license terms and conditions. Click on the Cancel button to exit." />

        <Control Id="AgreementText" Type="ScrollableText" X="226" Y="130" Width="300" Height="200" Sunken="yes" TabSkip="yes" >
          <Text SourceFile="Resources\License.rtf" />
        </Control>
        <Control Id="AuthenticationType" Type="CheckBox" X="226" Y="338" Width="10" Height="10" CheckBoxValue="1" Property="IAGREE" Text="{}" FixedSize="yes" ></Control>
        <Control Id="agreeText" X="242" Y="338" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="12" Text="{\TahomaNormal}I agree to the terms and conditions." />
        
        <Control Id="LicenseButton" Type="PushButton" Text="[License]" X="375" Y="380" Width="75" Height="18" Bitmap="yes" FixedSize="yes">
          <Condition Action="disable"><![CDATA[IAGREE <> "1"]]></Condition>
          <Condition Action="enable"><![CDATA[IAGREE = "1"]]></Condition>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" X="460" Y="380" Width="75" Height="18" Cancel="yes" Bitmap="yes" FixedSize="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

    </UI>

    <InstallUISequence>
      <Show Dialog="LicenseAgreeDlg" After="SetupDialog" />
    </InstallUISequence>

  </Fragment>

</Wix>